# Virtual Environment
venv/

# Python Cache Files
__pycache__/

# Environment Variables / Configs
config.py

# Logs / Temporary Files
*.log
instance/
*.tmp
*.temp

# IDE-Specific Files
.vscode/
.idea/
